<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"></meta>
    <title>WeUI 应用案例</title>
    <link rel="stylesheet" href="dist/lib/weui.min.css"/>
    <link rel="stylesheet" href="dist/css/mrsaber.css"/>
    <link rel="stylesheet" href="dist/css/jquery-weui.min.css"/>

    <script src="dist/lib/jquery-2.1.4.js"></script>
    <script src="dist/js/jquery-weui.js"></script>
    <script src="dist/js/weui.min.js"></script>
</head>
<body>
<div class="weui-page-header" style="background-color:#E9AE6A">
    <h1 style="position: relative;top: 25%;">维修审批</h1>
</div>
<div class="weui-cells__title">任务基本信息</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>任务编号</p>
        </div>
        <div class="weui-cell__ft" th:data="${flow.flow_id}" id="flowId" th:text="${flow.flow_id}"></div>
    </div>
</div>
<div class="weui-cells__title">待维修故障</div>
<div class="weui-cells">
    <a th:each="task : ${tasks}" class="weui-cell weui-cell_access">
        <div class="weui-cell__hd"><img src="dist/image/task.png" alt="" style="width:20px;margin-right:5px;display:block"/></div>
        <div class="weui-cell__bd">
            <p th:text="${task.fault_info}"></p>
        </div>
        <div class="weui-cell__ft" th:data="${task.fault_id}" onclick="showTask(this)">查看更多</div>
    </a>
</div>
<div class="weui-cells__title">已竞标单位</div>

<!--    <a th:each="bid : ${bids}" class="weui-cell weui-cell_access">
        <div class="weui-cell__hd"><img src="dist/image/task.png" alt="" style="width:20px;margin-right:5px;display:block"/></div>
        <div class="weui-cell__bd">
            <p th:text="${bid.user_office}"></p>
        </div>
        <div class="weui-cell__ft" th:data="${bid.bid_id}" onclick="showTask(this)">查看更多</div>
    </a>-->
<div class="weui-cells weui-cells_checkbox">
    <div th:each="bid : ${bids}">
        <label class="weui-cell weui-check__label" >
            <div class="weui-cell__hd">
                <input type="radio" class="weui-check" name="rd" th:data="${bid.bid_id}"/>
                <i class="weui-icon-checked"></i>
            </div>
            <div class="weui-cell__bd">
                <p th:text="${bid.user_office}">standard is dealt for u.</p>
            </div>
        </label>
        <div class="weui-cell__ft">
            <button style="border: none;background-color:#ABC327;color: white;padding: 5px;"  th:data="${bid.bid_id}" onclick="showBid(this)">查看报价</button>
        </div>
    </div>
</div>


<script>
    function showBid(div) {
        location.href="page_bid_showStuff.html?id="+div.getAttribute("data");
    }
</script>
<div class="weui-page-footer">
    <button style="width: 50%;float: right;height: 50px;background-color: #3cc51f;color: white;border-radius: 5px;border: none" onclick="agree()">选中</button>
</div>
<script>
    //同意任务
    function agree() {
        $.confirm({
            title: '选定维修单位',
            text: '您确定要选定该维修单位完成任务吗？',
            onOK: function () {
                //点击确认
                var bidId =$("input[name='rd']:checked").attr("data");
                $.ajax({
                    url:"/web/bid/selectBid.do",
                    data:{id:bidId},
                    success:function (data) {
                        $.alert(data);
                    }
                })

            }
        });
    }
</script>
</body>
</html>