<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"></meta>
    <title>维修审批</title>
    <link rel="stylesheet" href="dist/lib/weui.min.css"/>
    <link rel="stylesheet" href="dist/css/mrsaber.css"/>
    <link rel="stylesheet" href="dist/css/jquery-weui.min.css"/>

    <script src="dist/lib/jquery-2.1.4.js"></script>
    <script src="dist/js/jquery-weui.js"></script>
    <script src="dist/js/weui.min.js"></script>
</head>
<body>
<div class="weui-page-header" style="background-color:#E9AE6A">
    <h1 style="position: relative;top: 25%;">维修审批</h1>
</div>
<div class="weui-cells__title">任务基本信息</div>
<div class="weui-cells">
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>任务编号</p>
        </div>
        <div class="weui-cell__ft" th:data="${flow.flow_id}" id="flowId" th:text="${flow.flow_id}"></div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__bd">
            <p>发布时间</p>
        </div>
        <div class="weui-cell__ft">2018-1-21</div>
    </div>
    <a class="weui-cell weui-cell_access" href="javascript:;">
        <div class="weui-cell__bd">
            <p>发布人信息</p>
        </div>
        <div class="weui-cell__ft">点击查看</div>
    </a>
</div>
<div class="weui-cells__title">待维修故障</div>
<div class="weui-cells">
    <a th:each="task : ${tasks}" class="weui-cell weui-cell_access">
        <div class="weui-cell__hd"><img src="dist/image/task.png" alt="" style="width:20px;margin-right:5px;display:block"/></div>
        <div class="weui-cell__bd">
            <p th:text="${task.fault_info}"></p>
        </div>
        <div class="weui-cell__ft" th:data="${task.fault_id}" onclick="showTask(this)">查看更多</div>
    </a>
</div>
<div class="weui-cells__title">选定维修单位</div>
<a class="weui-cell weui-cell_access" href="javascript:;">
    <div class="weui-cell__hd"><img src="dist/image/mail.png" alt="" style="width:20px;margin-right:5px;display:block"/></div>
    <div class="weui-cell__bd">
        <p th:text="${bid.user_office}"></p>
    </div>
    <div class="weui-cell__ft" onclick="showBid(this)" th:data="${bid.bid_id}">查看</div>
</a>
<script>
    function showTask(div) {
        location.href="page_task_details.html?id="+div.getAttribute("data");
    }
    function showBid(div) {
        location.href="page_bid_showStuff.html?id="+div.getAttribute("data");
    }
</script>
<div class="weui-page-footer">
    <button style="width: 50%;float: left;height: 50px;background-color: coral;color: white;border-radius: 5px;border: none" onclick="disagree()">撤回</button>
    <button style="width: 50%;float: right;height: 50px;background-color: #3cc51f;color: white;border-radius: 5px;border: none" onclick="agree()">同意</button>
</div>
<script>
    //同意任务
    function agree() {
        var flowId = $('#flowId').attr("data");
        $.ajax({
            url:"/web/flow/approval.do",
            data:{id:flowId},
            success:function (data) {
                $.toast(data,function () {
                });
            }
        })
    }
    //撤销任务
    function disagree() {
        $.prompt({
            title: '撤回原因',
            text: '清水您的撤回原因',
            input: '输入框默认值',
            empty: false, // 是否允许为空
            onOK: function (input) {
                //点击确认
                var flowId = $('#flowId').attr("data");
                    $.ajax({
                    url:"/web/flow/noApproval.do",
                    data:{id:flowId,why:input},
                        success:function (data) {
                            $.alert(data);
                        }
                })
            },
            onCancel: function () {
                //点击取消
            }
        });
    }
</script>
</body>
</html>