<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"></meta>
    <title>维修单位微信身份绑定</title>
    <link rel="stylesheet" href="dist/lib/weui.min.css"/>
    <link rel="stylesheet" href="dist/css/mrsaber.css"/>
    <link rel="stylesheet" href="dist/css/jquery-weui.min.css"/>
    <script src="dist/lib/jquery-2.1.4.js"></script>
    <script src="dist/js/jquery-weui.js"></script>
    <script src="dist/js/weui.min.js"></script>
</head>
<body>
<div class="weui-page-header" style="background-color:#1aad19">
    <h1 style="position: relative;top: 25%;">微信绑定[维修单位]</h1>
</div>
<div class="weui-cells__title">身份绑定</div>
<div class="weui-panel__bd">
    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
        <div class="weui-media-box__hd">
            <img class="weui-media-box__thumb" th:src="${we_info['headimgurl']}" alt=""/>
        </div>
        <div class="weui-media-box__bd">
            <h4 class="weui-media-box__title" th:text="${we_info['nickname']}" th:data="${we_info['openid']}" id="user">XXXX</h4>
            <p class="weui-media-box__desc" th:text="${we_info['city']}">XXXXXXXXXXXX</p>
        </div>
    </a>
</div>

<div class="weui-cell weui-cell_select weui-cell_select-after">
    <div class="weui-cell__hd">
        <label for="userOffice" class="weui-label">已报备单位</label>
    </div>
    <!--自动渲染单位信息-->
    <div class="weui-cell__bd">
        <select class="weui-select" name="select2" id="userOffice">
            <option  th:each="builder :${builders}" th:value="${builder.of_id}" th:text="${builder.of_name}"></option>
        </select>
    </div>
</div>
<div class="weui-cells__title">账户设置</div>
<div class="weui-cells weui-cells_form">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">真实姓名</label></div>
        <div class="weui-cell__bd">
            <input  id="realName" class="weui-input" type="text"  placeholder=""/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">登录账户</label></div>
        <div class="weui-cell__bd">
            <input id="userName" class="weui-input" type="text"  placeholder=""/>
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label">登录密码</label></div>
        <div class="weui-cell__bd">
            <input id="password" class="weui-input" type="password" placeholder=""/>
        </div>
    </div>
</div>
<label for="weuiAgree" class="weui-agree">
    <input id="weuiAgree" type="checkbox" class="weui-agree__checkbox" checked="checked"/>
    <span class="weui-agree__text">
                阅读并同意<a href="javascript:void(0);">《相关条款》</a>
            </span>
</label>
<div class="weui-btn-area">
    <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips" onclick="sumbit_apply()">提交绑定信息</a>
</div>
<script>
    function sumbit_apply()
    {
        var user_openId = $('#user').attr('data');
        var user_realname = $('#realName').val();
        var user_name = $('#userName').val();
        var user_password = $('#password').val();
        var user_office = $('#userOffice').val();
        var user_type = $('#userType').val();
        $.ajax({
            url:"/web/we/addNoCheckUser.do",
            data:{
                user_openId:user_openId,
                user_realname:user_realname,
                user_name:user_name,
                user_password:user_password,
                user_office:user_office,
                user_type:user_type
            },
            success:function(data)
            {
                $.toast(data.msg,function(){
                    if(data.code = 1)
                    {
                        location.href = "/web/login.html";
                    }
                });
            }
        })
    }
</script>
</body>
</html>