<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>系统管理员界面</title>
    <link rel="stylesheet" type="text/css" href="dist/easyui/themes/bootstrap/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="dist/easyui/themes/icon.css"/>
    <script type="text/javascript" src="dist/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="dist/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="dist/easyui/datagrid-detailview.js"></script>
</head>
<body>

</body>
</html>