<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"></meta>
    <title>用户信息</title>
    <link rel="stylesheet" href="dist/lib/weui.min.css"/>
    <link rel="stylesheet" href="dist/css/mrsaber.css"/>
    <link rel="stylesheet" href="dist/css/jquery-weui.min.css"/>

    <script src="dist/lib/jquery-2.1.4.js"></script>
    <script src="dist/js/jquery-weui.js"></script>
    <script src="dist/js/weui.min.js"></script>
</head>
<body>
<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-info weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">操作失败</h2>
        <p class="weui-msg__desc" th:text="${error_text}">错误操作！</p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="/web/login.html" class="weui-btn weui-btn_primary">重新登录</a>
            <a href="javascript:;" class="weui-btn weui-btn_default">辅助操作</a>
        </p>
    </div>
    <div class="weui-msg__extra-area">
        <div class="weui-footer">
            <p class="weui-footer__links">
                <a href="javascript:void(0);" class="weui-footer__link">石大饮食维修评估平台</a>
            </p>
            <p class="weui-footer__text">Copyright © 2008-2016 mrsaber.cn</p>
        </div>
    </div>
</div>
</body>
</html>